<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar role="heading" color="primary"  style="height:200px">
  <mat-toolbar-row>
      <div style="flex: 10 auto;">
          <h1 class="headingstyle">
            <img height="200px" src="../assets/img/medium-5713-5c4c242027f79.png"> 
          </h1>
      </div>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <img class="bg" width="100%" src="../assets/img/flower-3408809_1280.jpg">
  <div class="image-space">
      <img class="circular--square" alt="TestImage" width="300px" style="padding: 25px;" src="../assets/img/IMG_20181117_134327.jpg">
      <span class="headingstyle1" style="text-align: center;">
      {{groomName}}
      </span>
    </div>
</div>

<router-outlet></router-outlet>
